## Python Variables

Python variables are the reserved memory locations used to store values with in a Python Program. This means that when you create a variable you reserve some space in the memory.

Based on the data type of a variable, memory space is allocated to it. Therefore, by assigning different data types to Python variables, you can store integers, decimals or characters in these variables.

## Creating Python Variables

Python variables do not need explicit declaration to reserve memory space or you can say to create a variable. A Python variable is created automatically when you assign a value to it. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. For example −

Example to Create Python Variables
This example creates different types (an integer, a float, and a string) of variables.

In [1]:
counter = 100          # Creates an integer variable
miles   = 1000.0       # Creates a floating point variable
name    = "Zara Ali"   # Creates a string variable

## Printing Python Variables
Once we create a Python variable and assign a value to it, we can print it using print() function. Following is the extension of previous example and shows how to print different variables in Python:

Example to Print Python Variables
This example prints variables.

In [2]:
counter = 100          # Creates an integer variable
miles   = 1000.0       # Creates a floating point variable
name    = "Zara Ali"   # Creates a string variable

print (counter)
print (miles)
print (name)

100
1000.0
Zara Ali

Here, 100, 1000.0 and "Zara Ali" are the values assigned to counter, miles, and name variables, respectively. When running the above Python program, this produces the following result −

100 \
1000.0 \
Zara Ali

## Deleting Python Variables

You can delete the reference to a number object by using the del statement. The syntax of the del statement is −

del var1[,var2[,var3[....,varN]]]

You can delete a single object or multiple objects by using the del statement. For example −

In [5]:
var = "random text"
var_a = 1123
var_b = 432.423

print(var)
print(var_a)
print(var_b)

del var
del var_a, var_b

print(var)

random text
1123
432.423

NameError: name 'var' is not defined

## Getting Type of a Variable

You can get the data type of a Python variable using the python built-in function type() as follows.

Example: Printing Variables Type

In [6]:
x = "Zara"
y =  10
z =  10.10

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

## Casting Python Variables

You can specify the data type of a variable with the help of casting as follows:

Example
This example demonstrates case sensitivity of variables.

In [7]:
x = str(10)    # x will be '10'
y = int(10)    # y will be 10 
z = float(10)  # z will be 10.0

print( "x =", x )
print( "y =", y )
print( "z =", z )

x = 10
y = 10
z = 10.0

## Case-Sensitivity of Python Variables

Python variables are case sensitive which means Age and age are two different variables:

In [8]:
age = 20
Age = 30

print( "age =", age )
print( "Age =", Age )

age = 20
Age = 30

## Python Variables - Multiple Assignment

Python allows to initialize more than one variables in a single statement. In the following case, three variables have same value.

In [11]:
a = 10
b = 10
c = 10

print(a, b, c)

10 10 10

In [10]:
# Instead of separate assignments, you can do it in a single assignment statement as follows −

a = b = c = 10
print(a, b, c)

10 10 10

In [12]:
# These separate assignment statements can be combined in one. 
# You need to give comma separated variable names on left, 
# and comma separated values on the right of = operator.

a = 10
b = 20
c = 30

print(a, b, c)

10 20 30

In [13]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

## Python Variables - Naming Convention

Every Python variable should have a unique name like a, b, c. A variable name can be meaningful like color, age, name etc. There are certain rules which should be taken care while naming a Python variable:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number or any special character like $, (, * % etc.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Python variable names are case-sensitive which means Name and NAME are two different variables in Python.
- Python reserved keywords cannot be used naming the variable.

If the name of variable contains multiple words, we should use these naming patterns −

- Camel case − First letter is a lowercase, but first letter of each subsequent word is in uppercase. For example: kmPerHour, pricePerLitre

- Pascal case − First letter of each word is in uppercase. For example: KmPerHour, PricePerLitre

- Snake case − Use single underscore (_) character to separate words. For example: km_per_hour, price_per_litre

In [14]:
# valid python variables

counter = 100
_count  = 100
name1 = "Zara"
name2 = "Nuha"
Age  = 20
zara_salary = 100000

print (counter)
print (_count)
print (name1)
print (name2)
print (Age)
print (zara_salary)

100
100
Zara
Nuha
20
100000

In [15]:
# invalid python variables

1counter = 100
$_count  = 100
zara-salary = 100000

print (1counter)
print ($count)
print (zara-salary)

SyntaxError: invalid syntax (1782696179.py, line 3)