## Datatypes

- Numeric Data Types
    - int
    - float
    - complex
- String Data Types
- Sequence Data Types
    - list
    - tuple
    - range
- Binary Data Types
    - bytes
    - bytearray
    - memoryview
- Dictionary Data Type
- Set Data Type
    - set
    - frozenset
- Boolean Data Type
- None Type

## Numeric Data types

In [2]:
var1 = 1       # int data type
var2 = True    # bool data type
var3 = 10.023  # float data type
var4 = 10+3j   # complex data type

# to check the type of variables we stored
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

In [3]:
# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
c=20.345
print("The type of variable having value", c, " is ", type(c))

# complex variable.
d=10+3j
print("The type of variable having value", d, " is ", type(d))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

In [25]:
# complex number 
c = 34 + 17j # it is written in the form of a + bi where a is real number and b is an imaginary number

print(c)
print(type(c))
print(c.real) # to get the real number
print(c.imag) # to get the imaginary number

(34+17j)
<class 'complex'>
34.0
17.0

## String

In [22]:
# Python string is a sequence of one or more Unicode characters, enclosed in single, double or triple quotation marks (also called inverted commas). 
# Python strings are immutable which means when you perform an operation on strings, 
# you always produce a new string object of the same type, rather than mutating an existing string.

# As long as the same sequence of characters is enclosed, single or double or triple quotes don't matter. 
# Hence, following string representations are equivalent.

In [4]:
s = "Python"
s1 = 'Python'
s2 = """Python"""

print(s)
print(s1)
print(s2)

print(type(s))
print(type(s1))
print(type(s2))

Python
Python
Python
<class 'str'>
<class 'str'>
<class 'str'>

## Sequence Data types

### List

In [23]:
# Python Lists are the most versatile compound data types. 
# A Python list contains items separated by commas and enclosed within square brackets ([]). 
# To some extent, Python lists are similar to arrays in C. 

# One difference between them is that all the items belonging to a Python list can be of different data type 
# where as C array can store elements related to a particular data type.

In [6]:
# List type

l = [2023, "Python", 3.11, 5+6j, 1.23E-4]
print(l)
print(type(l))

# we can store list inside a list as well
l1 = [['One', 'Two', 'Three'], [1,2,3], [1.0, 2.0, 3.0]]
print(l1)
print(type(l1))

[2023, 'Python', 3.11, (5+6j), 0.000123]
<class 'list'>
[['One', 'Two', 'Three'], [1, 2, 3], [1.0, 2.0, 3.0]]
<class 'list'>

### Tuple

In [24]:
# Python tuple is another sequence data type that is similar to a list. 
# A Python tuple consists of a number of values separated by commas. 
# Unlike lists, however, tuples are enclosed within parentheses (...).

# A tuple is also a sequence, hence each item in the tuple has an index referring to its position in the collection.
# The index starts from 0.

In [7]:
# tuple data type
t = (2023, "Python", 3.11, 5+6j, 1.23E-4)
print(t)
print(type(t))

# we can store list as well as tuple inside a tuple
t1 = (['One', 'Two', 'Three'], 1,2.0,3, (1.0, 2.0, 3.0))
print(t1)
print(type(t1))

(2023, 'Python', 3.11, (5+6j), 0.000123)
<class 'tuple'>
(['One', 'Two', 'Three'], 1, 2.0, 3, (1.0, 2.0, 3.0))
<class 'tuple'>

### Range

In [12]:
# range data type

#The constructor of this class accepts a sequence of numbers starting from 0 and 
#increments to 1 until it reaches a specified number.


# Syntax: range(start, stop, step)



# start: Integer number to specify starting position, (Its optional, Default: 0)
# stop: Integer number to specify ending position (It's mandatory)
# step: Integer number to specify increment, (Its optional, Default: 1)

print(list(range(5)))
print(list(range(2, 5)))
print(list(range(1, 5, 2)))

[0, 1, 2, 3, 4]
[2, 3, 4]
[1, 3]

## Dictionary Data type

In [14]:
# Python dictionary is like associative arrays or hashes found in Perl and consist of key:value pairs. 
# The pairs are separated by comma and put inside curly brackets {}. 
# To establish mapping between key and value, the semicolon':' symbol is put between the two.

d = {1:'one', 2:'two', 3:'three'}
print(d)
print(type(d))

# some dictionary examples
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>
This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

## Set Data type

In [16]:
# Set is a Python implementation of set as defined in Mathematics. 
# A set in Python is a collection, but is not an indexed or ordered collection as string, list or tuple. 
# An object cannot appear more than once in a set, whereas in List and Tuple, same object can appear more than once.

# Comma separated items in a set are put inside curly brackets or braces {}. 
# Items in the set collection can be of different data types.

In [15]:
s = {2023, "Python", 3.11, 5+6j, 1.23E-4}
print(s)
print(type(s))

{(5+6j), 3.11, 0.000123, 'Python', 2023}
<class 'set'>

In [17]:
# A set can store only immutable objects such as number (int, float, complex or bool), string or tuple. 
# If you try to put a list or a dictionary in the set collection, Python raises a TypeError.

s1 = {['One', 'Two', 'Three'], 1,2,3, (1.0, 2.0, 3.0)}
print(s1)

TypeError: unhashable type: 'list'

## Boolean Data type

In [20]:
# Python boolean type is one of built-in data types which represents one of the two values either True or False. 
# Python bool() function allows you to evaluate the value of any expression 
# and returns either True or False based on the expression.

# A Boolean number has only two possible values, as represented by the keywords, True and False. 
# They correspond to integer 1 and 0 respectively.

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## None Type

In [21]:
# Python's none type is represented by the "nonetype." It is an object of its own data type. 
# The nonetype represents the null type of values or absence of a value.

# Example of None Type
# In the following example, we are assigning None to a variable x and printing its type, which will be nonetyoe −

# Declaring a variable
# And, assigning a Null value (None)

x = None

# Printing its value and type
print("x = ", x)
print("type of x = ", type(x))

x =  None
type of x =  <class 'NoneType'>